/* General Styles */
body {
  background-color: #F9F9F9;
  color: #333333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #4CAF50;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  color: #FF7043;
}

/* Navigation bar */
nav {
  background-color: #2C3E50;
  padding: 20px 20px;
  border-bottom: 1px solid #EEEEEE;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: #FFFFFF;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav ul a:hover {
  color: #FF7043;
}

/* Button styls */
.button {
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.button a {
  color: #FFFFFF;
  text-decoration: none;
}

.button:hover {
  background-color: #FF7043;
}

/* Footer styles */
footer {
  background-color: #2C3E50;
  color: #FFFFFF;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
}

.footer-social .fa {
  font-size: 24px;
  color: #FFFFFF;
  margin: 0 10px;
  display: inline-block; 
}

.footer-social .fa:hover {
  color: #4CAF50;
}
